.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primaryColor);
}

.hero {
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  top: 0;
  padding: 32px 128px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1.5px solid var(--lightTextColor);

  background-color: #E2E8ED;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: auto;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(3rem, 9vw, 5rem);
  font-family: 'inter', sans-serif;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.7rem);
}

.refSubtitle {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.references {
  position: relative;
  width: 100%;
  padding: 64px 128px 64px 128px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pdfsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 32px;
  width: 100%;
  border-radius: 16px;
}

.pdfSubcontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 16px;
  justify-content: space-between;
  background-color: var(--elementColor);
  box-shadow: var(--shadow-elevation-medium);
}

.text {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-wrap: wrap;
}

.quoteText {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  color: var(--lightTextColor);
}

.linkText {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: var(--lightTextColor);
  transition: color 0.2s ease;
  text-decoration: underline;
}

.pdfViewerContainer {
  width: 100%;
  aspect-ratio: 8.5 / 11;
}

.pdfViewer {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none;
  border: 1.5px solid #D3D3D3;
}

.permsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 16px;
  justify-content: space-between;
  background-color: var(--elementColor);
  box-shadow: var(--shadow-elevation-medium);
}

.sourcesContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 16px;
  justify-content: space-between;
  background-color: var(--elementColor);
  box-shadow: var(--shadow-elevation-medium);
  text-wrap: wrap;
  overflow: hidden;
  white-space: wrap;
}

.emailContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  border-left: 4px solid var(--secondaryColor);
  padding: 8px;
  margin-bottom: 4px;
}

@media (max-width: 900px){
  .hero {
    padding: 32px 64px;
  }

  .references {
   position: relative;
    width: 100%;
    padding: 32px 64px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media(max-width: 700px){
  .hero {
    padding: 32px 64px;
  }

   .references {
    position: relative;
    width: 100%;
    padding: 32px 64px 32px 64px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .pdfsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    border-radius: 16px;
    background-color: var(--elementColor);
}

  .pdfSubcontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    justify-content: space-between;
    box-shadow: var(--shadow-elevation-medium);
  }

  .pdfViewerContainer {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

@media(max-width: 600px){
  .hero {
    padding: 32px 32px;
  }

  .references {
    position: relative;
    width: 100%;
    padding: 32px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}