.main {
  background-color: var(--primaryColor);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.hero {
  width: 100%;
  height: calc(100vh - var(--navbarHeight));

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  width: auto;
  height: auto;

  position: relative;
  top: -5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: Bradford LL;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.titleKerning {
  margin-right: 2px;
}

.titleKerning2 {
  margin-right: 1px;
}

.subtitle {
  margin-bottom: 48px;
}

.description {
  height: auto;
  width: 100%;
  padding: 0px 128px 64px 128px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foodBankImg {
  position: relative;
  margin-top: -48px;
  border-radius: 16px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-elevation-medium);
}

.descriptionText {
  padding: 32px 32px 0 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.4em;
}


.spotlight {
  width: 100%;
  height: auto;
  padding: 64px 128px;
  position: relative;
}

.spotlightTitle {
  font-family: Bradford LL;
  font-weight: 450;
  letter-spacing: -0.02em;
  font-size: 3rem;
}

.projectGrid {
  width: 100%;
  height: auto;
  margin-top: 32px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectCard {
  height: 365px;
  width: 31%;
  border-radius: 8px;
  border: 2px solid var(--secondaryColor);
  background-color: var(--primaryColor);
  box-shadow: var(--shadow-elevation-medium);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.cardImage {
    height: 200px;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.cardHeaderGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.cardHeader {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    width: 168px;
}

.cardButton {
  border: 2px solid var(--secondaryColor);
  cursor: pointer;
  height: 50px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTagGrid {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardTag {
  height: 30px;
  width: 80px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: .8rem;
  border-radius: 16px;
  padding: 4px 4px;
  border: 2px solid var(--secondaryColor);
  text-align: center;
  justify-content: center;
}

.events {
  width: 100%;
  height: auto;
  padding: 64px 128px;
  position: relative;
}

.eventsContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
}

.calendarContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcomingEventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.eventsHeader {
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 450;
  letter-spacing: -.02em;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.eventCardGrid {
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
}

.eventCard {
  display: flex;
  flex-direction: row;
  padding: 16px 0px;
  background-color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
  height: min-content;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 128px;
}

.eventMonth {
  font-family: Bradford LL;
  font-size: 1rem;
  font-weight: 450;
  letter-spacing: -.02em;
}

.eventDay {
  font-family: 'inter', sans-serif;
  font-size: 1.3rem;
  font-weight: 450;
}

.eventDescContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 16px;
}

.eventCardHeader {
  font-family: 'inter', sans-serif;
  font-size: 1rem;
  font-weight: 450;
}

.eventCardDesc {
  font-family: 'inter', sans-serif;
  font-size: .8rem;
  font-weight: 350;
}

.eventButtonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.eventsButton {
  outline: none;
  border: none;
  font-family: 'inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  width: 250px;
}

.faq {
  position: relative;
  width: 100%;
  padding: 64px 128px;
}

.callToAction {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 128px;
}

.callToActionContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 2px solid var(--secondaryColor);
  border-radius: 16px;
  padding: 64px 64px;
}

.callToActionText {
  font-family: Bradford LL;
  font-weight: 450;
  font-size: 3rem;
  letter-spacing: -0.02em;
}

.callToActionButton {
  display: flex;
  margin-top: 32px;
  height: 35px;
  width: 220px;
  border-radius: 8px;
  border: 2px solid var(--secondaryColor);
  background-color: none;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.callToActionImage {
  position: absolute;
  height: 400px;
  width: auto;
  right: 216px;
  top: 196px;
  z-index: 1;
}

.bentoBoard {
  position: relative;
  width: 100%;
  height: auto;
  padding: 64px 128px;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}