.main {
  background-color: var(--primaryColor);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.hero {
  width: 100%;
  height: calc(100vh - var(--navbarHeight));

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1.5px solid var(--lightTextColor);

  background-color: #f4f4f9;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: auto;
  height: auto;

  position: relative;

  top: -5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: Bradford LL;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.titleKerning {
  margin-right: 2px;
}

.titleKerning2 {
  margin-right: 1px;
}

.subtitle {
  margin-bottom: 48px;
}

.importantInfo {
  position: absolute;
  bottom: 128px;

  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.phoneBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phoneBox h3 {
  margin-left: 8px;
  font-weight: 600;
}

.description {
  height: auto;
  width: 100%;
  padding: 0px 128px 64px 128px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foodBankImg {
  position: relative;
  margin-top: -48px;
  border-radius: 16px;
  height: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-elevation-medium);
}

.descriptionText {
  padding: 32px 32px 0 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.4em;
}


.spotlight {
  width: 100%;
  height: auto;
  padding: 64px 128px;
  position: relative;
}

.spotlightTitle {
  font-family: Bradford LL;
  font-weight: 450;
  letter-spacing: -0.02em;
  font-size: 3rem;
}

.projectGrid {
  width: 100%;
  height: auto;
  margin-top: 32px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectCard {
  height: 365px;
  width: 31%;
  border-radius: 8px;
  background-color: var(--elementColor);
  box-shadow: var(--shadow-elevation-medium);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.cardImage {
    height: 200px;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.cardHeaderGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.cardHeader {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    width: 168px;
}

.cardButton {
  border: 2px solid var(--secondaryColor);
  background-color: var(--elementColor);
  cursor: pointer;
  height: 50px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: 0.1s ease;
}

.cardButton:hover {
  filter: invert(100);
  border: 2px solid var(--primaryColor);
}

.cardTagGrid {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cardTag {
  height: 30px;
  width: 80px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: .8rem;
  border-radius: 16px;
  padding: 4px 4px;
  border: 2px solid var(--secondaryColor);
  text-align: center;
  justify-content: center;
  margin-right: 12px;
}

.events {
  width: 100%;
  height: auto;
  padding: 64px 128px;
  position: relative;

  margin-bottom: 64px;
}

.eventsContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.eventsHeader {
  font-family: Bradford LL;
  font-weight: 450;
  letter-spacing: -0.02em;
  font-size: 3rem;
}

.eventsContentContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
}

.calendarContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcomingEventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.eventCardGrid {
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
}

.eventCard {
  display: flex;
  flex-direction: row;
  padding: 16px 0px;
  background-color: var(--elementColor);
  height: 96px;
  box-shadow: var(--shadow-elevation-medium-low);
}

.dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
}

.eventMonth {
  font-family: Bradford LL;
  font-size: 1rem;
  font-weight: 450;
  letter-spacing: -.02em;
}

.eventDay {
  font-family: 'inter', sans-serif;
  font-size: 1.3rem;
  font-weight: 450;
}

.eventDescContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 16px;
}

.eventCardHeader {
  font-family: 'inter', sans-serif;
  font-size: 1rem;
  font-weight: 450;
}

.eventCardDesc {
  font-family: 'inter', sans-serif;
  font-size: .8rem;
  font-weight: 350;
}

.eventButtonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--textColor);
}

.eventsButton {
  outline: none;
  border: none;
  font-family: 'inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 250px;
}

.faq {
  position: relative;
  width: 100%;
  padding: 64px 128px;
}

.callToAction {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 128px;

  margin-bottom: 128px;
}

.callToActionContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 4px solid var(--secondaryColor);
  border-radius: 16px;
  padding: 64px 64px;
}

.callToActionButton {
  display: flex;
  margin-top: 48px;
  height: 48px;
  width: min-content;
  border-radius: 8px;
  border: 4px solid var(--secondaryColor);
  background-color: var(--primaryColor);
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  padding: 0px 24px;
  transition: 0.1s ease;
}

.callToActionButton:hover {
  filter: invert(100);
  border-color: var(--primaryColor);
}

.callToActionButtonIcon {
  transition: 0.25s ease;
}

.callToActionButton:hover .callToActionButtonIcon {
  transform: translateX(8px) scale(1.25);
}

.callToActionImage {
  position: absolute;
  height: 400px;
  width: auto;
  right: 216px;
  top: 196px;
  z-index: 1;
}

.bentoBoard {
  position: relative;
  width: 100%;
  height: auto;
  padding: 128px;
  padding-bottom: 192px;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  margin-bottom: 64px;
}