.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  background-color: var(--primaryColor);
}

.hero {
  width: 100%;
  height: calc(50vh - var(--navbarHeight));
  top: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1.5px solid var(--lightTextColor);

  background-color: #f4f4f9;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: auto;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.searchHeaderBox {
  position: sticky;
  top: var(--navbarHeight);

  z-index: 49;

  height: 112px;
  width: 100%;
}

.searchHeader {
  position: sticky;
  top: var(--navbarHeight);
  height: auto;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primaryColor);

  z-index: 50;

  transition: 0.2s ease;

  padding: 32px 128px;
}

.searchBox {
  height: auto;
  width: 50%;
}

.filterButton {
  position: relative;

  height: 48px;
  aspect-ratio: 1;

  background-color: transparent;
  outline: none;

  border: 2px solid var(--secondaryColor);
  border-radius: 16px;
  box-shadow: var(--shadow-elevation-low);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.1s ease;
}

.filterButton:hover {
  transform: scale(1.05);
}

.resourceList {
  background-color: var(--primaryColor);
  height: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 128px;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 350px;
  gap: 32px;

  margin-bottom: 128px;

  height: 100%;
  width: 100%;
}

.stacked {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: var(--shadow-elevation-medium);
}

.popover {
  position: absolute;

  height: auto;
  width: auto;

  background-color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
  border-radius: 16px;
  box-shadow: var(--shadow-elevation-medium);

  top: calc(48px + 24px);
  right: 0px;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 32px);
  gap: 16px;

  padding: 32px;

  overflow: hidden;

  transform-origin: top right;
  transform: scale(0);   /* start collapsed */
  opacity: 0;            /* start invisible */
  transition: transform 0.2s ease, opacity 0.2s ease;
  pointer-events: none;  /* prevents clicks when hidden */
}

.popover.open {
  transform: scale(1);   /* expand */
  opacity: 1;            /* fade in */
  pointer-events: auto;  /* allow clicks when visible */
}

.tagSelector {
  height: 32px;
  width: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  height: 80%;
  aspect-ratio: 1;

  cursor: pointer;

  border: 2px solid var(--secondaryColor);
  outline: none;
}

.cardTopic {
  position: relative;

  height: 28px;
  width: auto;
  padding: 0px 8px;

  margin-left: 8px;
  
  background-color: var(--accentColor);
  box-shadow: var(--shadow-elevation-low);
  
  border-radius: 16px;
  margin-right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
  transition: 0.1s;
}

.tagText {
  overflow: hidden;
  padding-left: 6px;
  white-space: nowrap;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;
}


@media (max-width: 900px) {
  .searchHeader {
    padding-left: 64px;
    padding-right: 64px;
  }

  .resourceList {
    padding: 0px 64px;
  }

  .popover {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(9, 32px);
    gap: 16px;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 3.4em;
    line-height: 1em;
    margin-bottom: 16px;
  }

  .subtitle {
    font-size: 1em;
  }

  .content {
    padding: 0px 32px;
  }

  .searchBox {
    height: auto;
    width: 50%;
    flex-grow: 1;
    margin-right: 24px;
  }
}

@media (max-width: 600px) {
  .searchHeader {
    padding-left: 32px;
    padding-right: 32px;
  }

  .resourceList {
    padding: 0px 32px;
  }

  .itemGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .popover {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden;

    gap: 16px;
    height: 300px;
    overflow-y: scroll;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 3em;
  }
}