.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  background-color: var(--primaryColor);
}

.hero {
  width: 100%;
  height: calc(50vh - var(--navbarHeight));
  top: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1.5px solid var(--lightTextColor);

  background-color: #f4f4f9;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: auto;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.searchHeaderBox {
  position: sticky;
  top: var(--navbarHeight);

  z-index: 49;

  height: 112px;
  width: 100%;
}

.searchHeader {
  position: sticky;
  top: var(--navbarHeight);
  height: auto;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primaryColor);

  z-index: 50;

  transition: 0.2s ease;

  padding: 32px 128px;
}

.searchBox {
  height: auto;
  width: 50%;
}

.filterButton {
  height: 48px;
  aspect-ratio: 1;

  background-color: transparent;
  outline: none;

  border: 2px solid var(--secondaryColor);
  border-radius: 16px;
  box-shadow: var(--shadow-elevation-low);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.1s ease;
}

.filterButton:hover {
  transform: scale(1.05);
}

.resourceList {
  background-color: var(--primaryColor);
  height: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 128px;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 350px;
  gap: 32px;

  margin-bottom: 128px;

  height: 100%;
  width: 100%;
}

.stacked {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: var(--shadow-elevation-medium);
}

@media (max-width: 900px) {
  .searchHeader {
    padding-left: 64px;
    padding-right: 64px;
  }

  .resourceList {
    padding: 0px 64px;
  }
}