.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  background-color: var(--primaryColor);
}

.hero {
  width: 100%;
  height: calc(50vh - var(--navbarHeight));
  top: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  width: auto;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: Bradford LL;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.searchHeader {
  height: 96px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 128px;
}

.searchBox {
  height: auto;
  width: 50%;
}

.resourceList {
  background-color: var(--primaryColor);
  height: auto;
  width: 100%;

  padding: 0px 128px;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;

  height: 100%;
  width: 100%;
}

.gridItem {
  background-color: var(--primaryColor);
  box-shadow: var(--shadow-elevation-medium);

  height: auto;
  width: 100%;
  border-radius: 16px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.gridItemImage {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.mapCircle {
  position: absolute;
  left: 16px;
  top: 16px;

  height: 48px;
  width: 48px;
  background-color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
  border-radius: 16px;

  z-index: 5;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s;
}

.mapCircle:hover {
  scale: 1.05;
}

.cardContent {
  height: 10px;
  flex-grow: 1;
  width: 100%;

  padding: 18px 16px;
}

.cardTopicBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardTopic {

  height: 28px;
  width: 36px;
  
  background-color: var(--accentColor);
  box-shadow: var(--shadow-elevation-low);
  
  border-radius: 16px;
  margin-right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.1s;
}

.cardTopic:hover {
  scale: 1.05;
}
