.calendarContainer {
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    border: 2px solid var(--secondaryColor);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-medium);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 1.25rem;
    background-color: var(--accentColor);
    height: 50px;
    border-bottom: 2px solid var(--secondaryColor);
}

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 4px;
    margin: 0 16px;
    color: var(--primaryColor);
}

.headerText {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primaryColor);
    width: 190px;
    text-align: center;
}

.body {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 24px 80px 80px 80px 80px 80px 80px;
    background-color: var(--primaryColor);
}

.weekdays {
    font-family: 'inter', sans-serif;
    font-weight: 450;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 3px 0;
}

.days {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 2px;
    padding-top: 2px;
    border-right: 1.5px solid var(--secondaryColor);
    border-top: 1.5px solid var(--secondaryColor);
}

.days:nth-child(7n) {
  border-right: none;
}

.dayNum {
    display: flex;
    width: 32px;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.dayNum.today {
    background-color: var(--accentColor);
    border-radius: 24px;
    color: var(--primaryColor);
}