.calendar {
  position: relative;
  width: 100%;
  height: auto;
  padding: 64px 128px;
  background-color: var(--primaryColor);
}

.calendarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-medium);
    background-color: #FFFFFF;
}

.leftMenuContainer {
    flex: 0.4;
    background-color: #EBEBEB;
}

.rightCalendarContainer {
    flex: 1;
    width: 100%;
    padding: 32px;
    overflow: hidden;
    border-left: 1.5px solid #D3D3D3;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.rightHeaderButtonContainer {
    display: flex;
    flex-direction: row;
    width: 64px;
}

.rightHeaderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 4px;
    color: var(--textColor);
}

.rightHeaderText {
    font-family: 'inter', sans-serif;
    font-weight: 450;
    font-size: 1.5rem;
    color: var(--textColor);
}

.rightHeaderMonth {
    font-weight: 650;
}

.body {
    aspect-ratio: 1/0.7;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 24px repeat(6, 1fr);
    grid-auto-rows: auto;
    border: 1.5px solid #D3D3D3;
}

.weekdays {
    font-family: 'inter', sans-serif;
    font-weight: 450;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 3px 0;
}

.days {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 2px;
    padding-top: 2px;
    border-right: 1.5px solid #D3D3D3;
    border-top: 1.5px solid #D3D3D3;
}

.days:nth-child(7n) {
  border-right: none;
}

.dayNum {
    display: flex;
    width: 32px;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.dayNum.today {
    background-color: var(--accentColor);
    border-radius: 24px;
    color: var(--textColor);
}