.faqTitle{
  font-family: Bradford LL;
  font-weight: 450;
  font-size: 3rem;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}

.faqGrid {
  display: grid;
  width: 100%;
  height: auto;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(80px, auto));
}

.faqCell {
  display: grid;
  grid-template-rows: 50px 0fr;
  transition: grid-template-rows 0.2s ease-in-out;
  width: 100%;
  border-top: 4px solid var(--secondaryColor);
  padding: 16px 16px;
}

.faqCell:nth-child(5n){
  border-bottom: 4px solid var(--secondaryColor);
}

.faqCell.open {
  grid-template-rows: 50px 1fr;
}

.faqQuestion {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.questionText {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.questionButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionButton:hover {
  color: var(--accentColor);
  transition: color 0.3s ease;
}

.faqAnswer {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  overflow: hidden;
}