.footer {
    height: auto;
    width: 100%;

    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondaryColor);
}

.topSection {
    height: auto;
    width: 100%;

    padding: 64px 96px;
    padding-bottom: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 32px;
}

.footerColumn {
    height: auto;
    width: auto;

    position: relative;

    margin-right: 80px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footerColumn h3 {
    font-weight: 300;
    font-size: 1em;
}

.footerColumn2 {
    height: auto;
    width: auto;

    max-width: 200px;

    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.footerLink h3 {
    padding-top: 4px;
    color: var(--primaryColor);
    transition: 0.05s;

    width: 100%;
    flex-grow: 1;
    align-self: stretch;

    font-weight: 300;
    font-size: 1em;

    box-sizing: border-box;
}

.footerLink h3:hover {
    color: var(--primaryColor);
    font-weight: 600;
}

.footerLink h2 {
    color: var(--primaryColor);
    margin-bottom: 4px;
}

.footerLink {
    text-decoration: none;
    color: var(--primaryColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLinks {
    height: auto;
    width: 100%;
}

.contactImg {
    height: 48px;
    aspect-ratio: 1;

    object-fit: cover;

    border-radius: 300px;
    border: 1px solid var(--primaryColor);

    margin-right: 16px;
    box-shadow: var(--shadow-elevation-low);

    cursor: pointer;

    transition: 0.05s;
}

.contactImg:hover {
    scale: 1.1;
}

.bottomSection {
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 96px;

    border-top: 1px solid var(--lightTextColor);
}

.bottomSection h2 {
    font-weight: 300;
    font-size: 1em;
}

@media (max-width: 900px) {
    .topSection {
        padding-left: 64px;
        padding-right: 64px;
    }

    .bottomSection {
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 600px) {
    .topSection {
        padding-left: 32px;
        padding-right: 32px;
    }

    .bottomSection {
        padding-left: 32px;
        padding-right: 32px;
    }
}