.footer {
    height: auto;
    width: 100%;

    background-color: var(--primaryColor);

    border-top: 3px solid var(--secondaryColor);
}

.topSection {
    height: auto;
    width: 100%;
    border-bottom: 3px solid var(--secondaryColor);

    padding: 32px;
    padding-bottom: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 32px;
}

.footerColumn {
    height: 100%;
    width: auto;

    position: relative;

    margin-right: 80px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.footerColumn2 {
    height: 100%;
    width: auto;

    max-width: 200px;

    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.footerLink h3 {
    padding-top: 4px;
    color: var(--lightTextColor);
    transition: 0.05s;

    width: 100%;
    flex-grow: 1;
    align-self: stretch;

    box-sizing: border-box;
}

.footerLink h3:hover {
    color: var(--textColor);
    font-weight: 600;
}

.footerLink h2 {
    margin-bottom: 4px;
}

.footerLink {
    text-decoration: none;
    color: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLinks {
    height: 48px;
    width: 100%;
}

.contactImg {
    height: 100%;
    aspect-ratio: 1;

    object-fit: cover;

    border-radius: 300px;
    border: 2px solid var(--secondaryColor);

    margin-right: 16px;
    box-shadow: var(--shadow-elevation-low);

    cursor: pointer;

    transition: 0.05s;
}

.contactImg:hover {
    scale: 1.1;
}

.bottomSection {
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 32px;
}