header {
  width: 100%;
  height: var(--navbarHeight);
  background-color: var(--primaryColor);
  box-shadow: var(--shadow-elevation-medium);

  padding: 0px 128px;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.homeLink {
    font-family: Bradford LL;
    font-weight: 450;
    letter-spacing: -0.02em;

    cursor: pointer;
}

.navigation {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigationLink {
    margin-left: 32px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}

.navigationLink:hover {
    color: var(--accentColor);
    transition: color 0.3s ease;
}