.parallaxContainer {
  position: absolute;   /* key change */
  inset: 0;             /* fill entire .events */
  overflow: hidden;
  z-index: 0;

  background-color: red;
}

.parallaxImg {
  position: absolute; /* allow transform movement */
  top: 50%;
  left: 0;
  width: 100%;
  height: auto; /* dynamic height */
  min-height: 200%; /* ensure it covers parent */
  object-fit: cover;
  will-change: transform;

  filter: brightness(0.9);
}