.gridItem {
  background-color: var(--elementColor);
  box-shadow: var(--shadow-elevation-medium);

  height: auto;
  width: 100%;
  border-radius: 16px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  cursor: pointer;

  transition: 0.1s ease;
}

.gridItem:hover {
    transform: scale(1.008);
}

.imageBox {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.gridItemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.gridItem:hover .gridItemImage {
    transform: scale(1.05);
}

.mapCircle {
  position: absolute;
  left: 16px;
  top: 16px;

  height: 48px;
  width: 48px;
  background-color: var(--elementColor);
  border: 2px solid var(--secondaryColor);
  border-radius: 16px;

  z-index: 5;

  text-decoration: none;
  color: inherit;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s;
}

.mapCircle:hover {
  scale: 1.05;
}

.cardContent {
  height: 10px;
  flex-grow: 1;
  width: 100%;

  padding: 18px 16px;
}

.cardTopicBox {
  position: absolute;
  bottom: 18px;
  left: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardTopic {
  position: relative;

  height: 28px;
  width: auto;
  padding: 0px 8px;
  
  background-color: var(--accentColor);
  box-shadow: var(--shadow-elevation-low);
  
  border-radius: 16px;
  margin-right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.1s;
}

.tagText {
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.4s ease, opacity 0.15s ease, padding 0.2s ease;
  white-space: nowrap;
  padding-left: 0px;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.cardTopic .hitbox {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;

  height: 28px;
  width: 38px;

  z-index: 20;

  background-color: transparent
}

.hitbox:hover + .tagText {
  max-width: 200px;
  opacity: 1;

  padding-left: 6px;
}
