.searchBar {
  height: 48px;
  width: 100%;
  border: 4px solid var(--secondaryColor);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchInput {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 8px;
    color: #616161;
    border: none;
    outline: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-grow: 1;
    height: 100%;
}

.searchButton {
  height:40px;
  width: 44px;
  padding: 4px 4px;
  border-left: 4px solid var(--secondaryColor);
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: var(--accentColor);
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}