.searchBar {
  height: 48px;
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-elevation-medium-low);
  background-color: var(--elementColor);
}

.searchInput {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 16px;
    color: #616161;
    border: none;
    outline: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-grow: 1;
    height: 100%;
}

.searchButton {
  padding: 0px 16px;
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: var(--elementColor);
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 100%;
  width: auto;
}

.searchIcon {
  transition: 0.5s ease;
}

.searchButton:hover .searchIcon {
  transform: rotate(360deg);
}