@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles, affects root element */
:root {
    --primaryColor: #F4F4F9;
    --secondaryColor: #050505;
    --accentColor: #8DE8FF;

    --textColor: #000000;
    --lightTextColor: #444444;
    
    --navbarHeight: 80px;
    --shadow-color: 0deg 0% 66%;
    --shadow-elevation-low:
        0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.11),
        0.4px 0.9px 1.4px -0.4px hsl(var(--shadow-color) / 0.24),
        1px 1.9px 2.9px -0.8px hsl(var(--shadow-color) / 0.38);
    --shadow-elevation-medium:
        0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.11),
        1px 2.1px 3.2px -0.3px hsl(var(--shadow-color) / 0.22),
        2.2px 4.4px 6.8px -0.6px hsl(var(--shadow-color) / 0.33),
        4.8px 9.6px 14.7px -0.8px hsl(var(--shadow-color) / 0.44);
    --shadow-elevation-high:
        0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.1),
        2px 4.1px 6.3px -0.1px hsl(var(--shadow-color) / 0.15),
        3.6px 7.3px 11.2px -0.2px hsl(var(--shadow-color) / 0.2),
        5.5px 10.9px 16.8px -0.4px hsl(var(--shadow-color) / 0.25),
        7.9px 15.8px 24.2px -0.5px hsl(var(--shadow-color) / 0.3),
        11.3px 22.6px 34.7px -0.6px hsl(var(--shadow-color) / 0.35),
        16.1px 32.3px 49.5px -0.7px hsl(var(--shadow-color) / 0.4),
        22.8px 45.5px 69.9px -0.8px hsl(var(--shadow-color) / 0.45);
}

/* Affects ONLY the body tag */
body {
    width: 100%;
    height: auto;
    
    color: var(--textColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Affects every element on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-display: swap;
    font-family: Bradford LL;
    font-weight: 450;
    src: url(assets/fonts/BradfordLLWeb-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Bradford LL;
    font-style: italic;
    font-weight: 450;
    src: url(assets/fonts/BradfordLLWeb-Italic.woff2) format("woff2")
}

.interSubtitle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-weight: 450;
    letter-spacing: 0.02em;
}

.interHeader {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.interText {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

.interDescription {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--lightTextColor);
}

.bradfordHeader {
    font-family: Bradford LL;
    font-weight: 450;
    letter-spacing: -0.02em;

    cursor: pointer;
}