@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles, affects root element */
:root {
    --primaryColor: #F4F6F7;
    --secondaryColor: #050505;
    --accentColor: #8DE8FF;
    --elementColor: #FFFFFF;

    --textColor: #000000;
    --lightTextColor: #444444;
    
    --navbarHeight: 80px;
    --shadow-color: 0deg 0% 55%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.24),
    0.5px 0.9px 1.3px -0.7px hsl(var(--shadow-color) / 0.35),
    1.1px 2.2px 3.1px -1.5px hsl(var(--shadow-color) / 0.46);
  --shadow-elevation-medium-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.22),
    1px 2px 2.9px -0.5px hsl(var(--shadow-color) / 0.29),
    2.2px 4.4px 6.3px -1px hsl(var(--shadow-color) / 0.36),
    5px 10px 14.3px -1.5px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    1px 2.1px 3px -0.5px hsl(var(--shadow-color) / 0.34),
    2.4px 4.8px 6.8px -1px hsl(var(--shadow-color) / 0.42),
    5.4px 10.9px 15.5px -1.5px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.24),
    2.2px 4.4px 6.3px -0.2px hsl(var(--shadow-color) / 0.28),
    4px 8.1px 11.5px -0.4px hsl(var(--shadow-color) / 0.32),
    6.3px 12.5px 17.8px -0.6px hsl(var(--shadow-color) / 0.35),
    9.4px 18.8px 26.8px -0.9px hsl(var(--shadow-color) / 0.39),
    13.9px 27.9px 39.7px -1.1px hsl(var(--shadow-color) / 0.43),
    20.4px 40.8px 58.2px -1.3px hsl(var(--shadow-color) / 0.47),
    29.3px 58.5px 83.4px -1.5px hsl(var(--shadow-color) / 0.51);

    --shadow-elevation-medium-bottom-inset:
        inset 0 6px 6px -6px hsl(var(--shadow-color) / 0.35),
        inset 0 12px 12px -12px hsl(var(--shadow-color) / 0.2);

}

/* Affects ONLY the body tag */
body {
    width: 100%;
    height: auto;
    
    color: var(--textColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Affects every element on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.interSubtitle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-weight: 450;
    letter-spacing: 0.02em;
}

.interTitle {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.interHeader {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.interText {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

.interDescription {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--lightTextColor);
}

.bradfordHeader {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    letter-spacing: -0.02em;

    cursor: pointer;
}