.main {
  background-color: var(--primaryColor);
  padding-top: var(--navbarHeight);
}

.hero {
  width: 100%;
  height: calc(100vh - var(--navbarHeight));

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: auto;
  height: auto;

  position: relative;
  top: -5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: Bradford LL;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.titleKerning {
  margin-right: 2px;
}

.titleKerning2 {
  margin-right: 1px;
}

.subtitle {
  margin-bottom: 48px;
}

.searchBar {
  height: 48px;
  width: 100%;

  border: 4px solid var(--secondaryColor);
  border-radius: 16px;
}

.description {
  height: 50vh;
  width: 100%;
}