.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primaryColor);
}

.hero {
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  top: 0;
  padding: 32px 128px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1.5px solid var(--lightTextColor);

  background-color: #E2E8ED;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: auto;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(3rem, 9vw, 5rem);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-weight: 450;
  letter-spacing: -0.04em;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.7rem);
}

@media (max-width: 900px){
  .hero {
    padding: 32px 64px;
  }
}

@media (max-width: 600px){
  .hero {
    padding: 32px 32px;
  }
}